.home_hero--sec::after {
    content: '';
    position: absolute;
    top: -7rem;
    left: -2.4rem;
    width: 110%;
    height: 100%;
    background-image: url(/src/assets/images/prime_game_bg3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

html[dir=rtl] .home_hero--sec::after {
    background-image: url(/src/assets/images/prime_game_bg2.webp);
    /* transform: rotateY(180deg); */
    left: -8.4rem;
}

.home_hero_left-con {
    max-width: calc(40%);
    flex: 0 0 calc(40%);
}

.home_hero_right-con {
    max-width: calc(65%);
    flex: 0 0 calc(55%);
}

.home_page--wrapper .main_con--bg {
    background-image: url('../images/homepageBG.webp');
    right: auto;
    width: 100%;
    background-position: left;
}

.swiper-slide {
    transition: all 600ms linear;
    transform: scale(0.85) !important;
    opacity: 0.8;
}

.swiper-slide.swiper-slide-active {
    transform: scale(1) !important;
    transition: all 600ms linear;
    margin-right: 2rem;
    opacity: 1;
}

.swiper-pagination-bullet {
    font-size: 1.125rem;
    background: #58586A;
    width: 0.75rem;
    height: 0.75rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #2C2D6D;
}

/* page reload animation start*/
body.page-loading *,
body.page-loading .swiper-slide,
body.page-loading .swiper-slide.swiper-slide-active {
    transition: none !important;
    animation: none !important;
}

body.page-loading {
    overflow: hidden;
}

body.page-loading .home_hero--sec,
body.page-loading .swiper-slide,
body.page-loading h1,
body.page-loading h2,
body.page-loading h3 {
    opacity: 0 !important;
}

/* page reload animation end*/

html[dir=rtl] .swiper-slide.swiper-slide-active {
    margin-left: 2rem;
    margin-right: auto;
}

.game_card--body {
    clip-path: url(#slidercardClip);
}

.game_image:before {
    background: linear-gradient(180deg, rgba(1, 2, 33, 0) 0%, rgb(1 2 33 / 26%) 77%, rgba(1, 2, 33, 0.9) 90%);
    box-shadow: inset 0rem 0rem 1.125rem #010221;
    z-index: 9;
}

.slider_card .game_card--footer {
    background: url('../images/gamelogoBG.webp');
    background-size: cover;
    padding: 30px 30px;
}

.game_card_wrap--link:before {
    background: linear-gradient(132deg, rgba(50, 63, 121, 1) 4%, rgba(29, 20, 69, 0.8) 15%, rgba(20, 25, 69, 0.4) 100%);
    clip-path: url('#customHeaderClip');
    width: 100%;
    height: 100%;
    z-index: -1;
}

.game_card_wrap--link span {
    padding: 14px 20px;
}

.sd_prev-btn,
.sd_next-btn {
    background-image: url(../images/next_arrBG.svg);
    background-size: cover;
    padding: 2rem;
}

.sd_prev-btn:after,
.sd_next-btn:after {
    font-size: 1.2rem;
    color: var(--color-white);
}

.sd_prev-btn,
.sd_prev-btn:after {
    transform: scaleX(-1);
}


/* ----------------------------------------

    Clip-Mask Image Boredr Common CSS Start

------------------------------------------ */

.mask-border:after {
    left: 0;
    width: 0.063rem;
    height: 14rem;
    background: linear-gradient(180deg, rgba(210, 231, 241, 1) 0%, rgba(210, 231, 241, 0) 100%);
    top: 0;
}

.mask-border:before {
    width: 8rem;
    background: linear-gradient(90deg, rgba(210, 231, 241, 1) 0%, rgba(210, 231, 241, 0) 100%);
    height: 0.063rem;
    z-index: 9;
    left: 0.25rem;
    box-shadow: none !important;
}

.mask_img-border:after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, rgba(210, 231, 241, 1) 0%, rgba(210, 231, 241, 0.55) 100%);
    width: 2.3rem;
    height: 0.063rem;
    left: -0.313rem;
    top: 0.563rem;
    transform: rotate(137deg);
}

/* ----------------------------------------

    Clip-Mask Image Boredr Common CSS End

------------------------------------------ */


/* === ----------------------------------
    
    About Section HTML block Start 
    
---------------------------------- ===  */

.sd_play-link {
    /* background-image: url(../images/thumbnailBG.webp); */
    background-image: url(../images/home_about_bg.webp);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

html[dir=rtl] .sd_play-link {
    background-image: url(../images/home_about_bg_rtl.webp);
    background-position: left;
}

.sd_play-link:before {
    background: linear-gradient(90deg, rgb(2 3 38) 0%, rgba(2, 3, 29, 0) 8%);
}


.about_left--con {
    padding-block: 6.875rem;
}

/* === ----------------------------------

    How To Play Section CSS Start 

-----------------------------------=== */

.htp_content:before {
    background: linear-gradient(90deg, rgba(121, 126, 255, 0.6) 0%, rgba(121, 126, 255, 0.2) 100%);
    height: 0.063rem;
}

.htp_slider-sec .btn_polygon-link {
    background: linear-gradient(3deg, rgba(67, 75, 233, 1) 0%, rgba(70, 181, 249, 1) 110%);
}

.htp_slider-sec .polygon_border:before,
.htp_slider-sec .polygon_border:after {
    background: linear-gradient(3deg, rgba(67, 75, 233, 1) 0%, rgba(70, 181, 249, 1) 110%);
}

.htp_slider-sec .btn_polygon-link:before,
.htp_slider-sec .btn_polygon-link:after {
    opacity: 0.8;
    mix-blend-mode: plus-lighter;
}

.htp_left-con .grad_text-clip {
    background: linear-gradient(180deg, rgb(244 247 255) 0%, rgba(186, 189, 255, 1) 36%, rgba(123, 126, 208, 1) 66%);
}

.game_card_wrap--link a {
    transition: 0.3s;
    display: inline-block;
}

.game_card_wrap--link a:hover {
    transform: scale(1.03);
}

.htp_card--body {
    background: rgb(68, 28, 28);
}

.sd_next-btn.sd_next-one:after {
    transform: scaleX(-1);
}

.game_card_wrap--link,
.htp_card--body,
.htp_right-con .swiper {
    min-height: 20.5rem;
    height: 100%;
}

/* two slider css start */
.htp_slider-sec .game_card_wrap--link,
.htp_slider-sec .htp_card--body,
.htp_slider-sec .htp_right-con .swiper {
    min-height: unset;
}

.slider_card .game_card_wrap--link {
    min-height: 100%;
}

.purple_grad-col.grad_text-clip {
    background: linear-gradient(180deg, rgb(244 247 255) 0%, rgba(186, 189, 255, 1) 36%, rgba(123, 126, 208, 1) 66%);
}

.htp_slider .swiper-slide {
    transform: scale(1) !important;
}

.htp_slider .swiper-slide .game_card_wrap--link .htp_card--body p.game_info {
    display: none;
}

.htp_slider .swiper-slide.swiper-slide-active .game_card_wrap--link .htp_card--body p.game_info {
    display: block;
}

.mySwiper .game_label {
    max-width: 11rem;
}


html[dir=rtl] .htp_slider .swiper-slide .game_card_wrap--link .htp_card--body {
    background-image: url(../images/rtl_playgameBG.webp) !important;
}

html[dir=rtl] .htp_slider .swiper-slide .game_card_wrap--link .htp_card--body .match_date {
    background-image: url(../images/sliderBG.webp) !important;
}

html[dir=rtl] .big-card .swiper-slide.swiper-slide-active .game_card_wrap--link .htp_card--body {
    background-image: url(../images/rtl_activeslideBG.webp) !important;
}

html[dir=rtl] .big-card .swiper-slide.swiper-slide-active .game_card_wrap--link .htp_card--body .match_date {
    background-image: url(../images/sliderBG_opp.webp) !important;
}

.big-card.swiper {
    width: 135rem !important;
}

.htp_slider-sec .htp_left-con {
    max-width: calc(28%);
    flex: 0 0 calc(28%);
}

.htp_slider-sec .htp_right-con {
    max-width: calc(77%);
    flex: 0 0 calc(72%);
}

.htp_slider .swiper-pagination-bullet {
    clip-path: polygon(50% 0%, 75% 0, 100% 21%, 100% 70%, 100% 100%, 50% 100%, 25% 100%, 0 74%, 0% 35%, 0 0);
    background: radial-gradient(116.31% 116.35% at 50% 0%, rgba(60, 61, 128, 0.736) 0%, rgba(34, 35, 86, 0.64) 100%);
    box-shadow: 0px 2px 4px 0px rgba(87, 89, 195, 0.12) inset;
    height: 2rem;
    width: 2rem;
    border-radius: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(199, 233, 255, 1);
    opacity: 0.5;
    margin: 0 !important;
}

.htp_slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    box-shadow: 0px 2px 4px 0px rgba(87, 89, 195, 0.24) inset;
    color: rgba(115, 148, 255, 1);
    opacity: 1;
    margin: 0;
}

.htp_slider .custom-pagination-one {
    bottom: -3rem !important;
}

/* two slider css End */
/* --------------------------------
    
    Timeline Section CSS Start

----------------------------------- */

/* first card start*/
.split_card-num .purple_grad-col.grad_text-clip {
    background: linear-gradient(180deg, #ACC9FF 32%, #81ADFF 68%);
}

.split_card--body {
    clip-path: url(#splitcardclip);
    background: linear-gradient(180deg, #108BF0 0%, #0D106B 100%);
    width: 100%;
    height: 20.1rem;
}

html[dir=rtl] .split_card--body {
    clip-path: url(#splitcardclip1);
}

.spilit-grad {
    position: absolute;
    right: 0;
    bottom: 0;
    filter: blur(5rem);
    bottom: -5rem;
    width: 10rem;
    height: 100%;
    background: linear-gradient(180deg, #108BF0 0%, #0D106B 100%);
    z-index: 10;
}

.split_card-num {
    clip-path: url(#customClip);
    background: linear-gradient(to left, #6DB0FF -100%, #247CE3 100%);
    height: 8rem;
    width: 100%;
}

html[dir=rtl] .split_card-num,
html[dir=rtl] .split_card-num p {
    transform: rotateY(180deg);
}

.split_card-num::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/spilit-shape.svg');
    background-position: center;
    background-size: cover;
}

html[dir=rtl] .split_card-num::after,
html[dir=rtl] .spilit-img {
    transform: rotateY(180deg);
}

.split_card--wrap.polygon_border::before {
    left: -1.85rem;
    top: calc(50% + 2.501rem);
    transform: translateY(-50%) rotate(-90deg);
    background: #1345A4;
    width: 4rem;
}

html[dir=rtl] .split_card--wrap.polygon_border::before {
    left: auto;
    right: -1.85rem;
    transform: translateY(-50%) rotate(90deg);
}

.split_card--wrap.polygon_border::after {
    right: -1.18rem;
    left: auto;
    top: calc(50% + 3.3rem);
    transform: translateY(-50%) rotate(-90deg);
    background: #6B88C9;
    width: 2.51rem;
}

html[dir=rtl] .split_card--wrap.polygon_border::after {
    right: auto;
    left: -1.18rem;
    transform: translateY(-50%) rotate(90deg);
}

.spilit-card-polygon::after {
    content: '';
    position: absolute;
    width: 33%;
    height: 0.25rem;
    clip-path: polygon(2% 100%, 0% 0%, 98% 0%, 100% 100%, 5% 100%);
    background: #108BF0;
    left: 1rem;
    bottom: 0;
    z-index: 90;
}

html[dir=rtl] .spilit-card-polygon::after {
    left: auto;
    right: 1rem;
    transform: rotateY(180deg);
}

/* Second card Start*/
.split_card--wrap-purple .split_card--body {
    background: linear-gradient(180deg, #4D28F4 0%, #290566 100%);
}

.split_card--wrap-purple.split_card--wrap.polygon_border::before{
background: #3A1898;
}

.split_card--wrap-purple .spilit-card-polygon::after {
    background: #6148E9;
}

.split_card--wrap-purple .split_card-num {
    background: linear-gradient(to bottom, #5735D8 0%, #5433BF 100%);
}

.split_card--wrap-purple .split_card-num .purple_grad-col.grad_text-clip {
    background: linear-gradient(180deg, #D5CDFB 32%, #5C47D3 68%);
}

.split_card--wrap-purple .spilit-grad {
    background: linear-gradient(180deg, #917DE4 0%, #39187E 100%);
    filter: blur(3rem);
}

.split_card--wrap-purple.split_card--wrap.polygon_border::after {
    background: #7665BA;
}

/* Second card End*/

/* Third card Start*/
.split_card--wrap-orange .split_card--body {
    background: linear-gradient(180deg, #BC5225 0%, #F49528 100%);
}

.split_card--wrap-orange .split_card-num {
    background: linear-gradient(to bottom, rgb(238 173 70 / 40%) 0%, rgb(253 131 39 / 40%) 100%);
}

.split_card--wrap-orange .split_card-num .purple_grad-col.grad_text-clip {
    background: linear-gradient(180deg, #FFD3AC 32%, #FFCF81 68%);
}

.split_card--wrap-orange .spilit-grad {
    background: linear-gradient(to bottom, rgb(238 173 70 / 1) 0%, rgb(253 131 39 / 1) 100%);
    bottom: -3rem;
}

.split_card--wrap-orange.split_card--wrap.polygon_border::before {
    background: #DE7727;
}

.split_card--wrap-orange.split_card--wrap.polygon_border::after {
    background: #E0A781;
}

.split_card--wrap-orange .spilit-card-polygon::after {
    background: #F49528;
}

/* Third card End*/

/* Forth card Start*/
.split_card--wrap-pink .split_card--body {
    background: linear-gradient(180deg, #600040 0%, #FF5383 100%);
}

.split_card--wrap-pink .spilit-grad {
    background: linear-gradient(180deg, #600040 0%, #FF5383 100%);
    bottom: -3rem;
}

.split_card--wrap-pink .split_card-num {
    background: linear-gradient(to bottom, rgb(255 109 155 / 40%) 0%, rgb(227 36 68 / 40%) 100%);
}

.split_card--wrap-pink .split_card-num .purple_grad-col.grad_text-clip {
    background: linear-gradient(180deg, #FFACC6 32%, #FF819C 68%);
}

.split_card--wrap-pink.split_card--wrap.polygon_border::before {
    background: #A82B5E;
}

.split_card--wrap-pink.split_card--wrap.polygon_border::after {
    background: #D07DA8;
}

.split_card--wrap-pink .spilit-card-polygon::after {
    background: #FF5383;
}

.split_card--wrap p svg {
    background: linear-gradient(to bottom, #ffffff 12%, #D8DAFF 80%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    line-height: 1;
}

.split_card--wrap-purple .split_card--wrap p svg {
    background: linear-gradient(to bottom, #ffffff 12%, #8D7BD0 80%);
}

.split_card--wrap-orange .split_card--wrap p svg {
    background: linear-gradient(to bottom, #ffffff 12%, #FFE8D8 80%);
}

.split_card--wrap-pink .split_card--wrap p svg {
    background: linear-gradient(to bottom, #ffffff 12%, #FFD8DE 80%);
}

/* Forth card End*/
/* --------------------------------
    
    FAQ Section CSS Start

----------------------------------- */

.home_faq--sec .faq_left--con {
    background-image: url(../images/faqBG2.webp);
    background-repeat: no-repeat;
    opacity: 0.6 !important;
}

html[dir=rtl] .home_faq--sec .faq_left--con {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(../images/faqBG2_rtl.webp);
}

.home_faq--sec .faq_left--con::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(2 3 38) 0%, rgba(2, 3, 29, 0) 8%);
}

.faq_accordion.active_accordion {
    background-image: url(../images/active_faqBG.webp);
    background-size: 100% 100%;
    min-height: 9.5rem;
    height: 100%;
    transition: .4s ease;
}

.faq_accordion {
    background-image: url(../images/faq_bg.webp);
    background-repeat: no-repeat;
    min-height: 4.5rem;
    height: 100%;
    transition: .4s ease;
    background-size: 100%;
}

.faq_head-con {
    position: relative;
}

.faq_head-con::before {
    content: '';
    position: absolute;
    right: 0;
    width: 1rem;
    height: 0.8rem;
    background-image: url(../images/down_arrow.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

html[dir=rtl] .faq_head-con::before {
    left: 0;
    right: auto;

}

.active_accordion .faq_head-con::before {
    transform: rotate(180deg);
    filter: brightness(0) invert(1);
}

html[dir="rtl"] .home_hero--sec,
html[dir="rtl"] .home_about--sec,
html[dir="rtl"] .htp_slider-sec,
html[dir="rtl"] .home_faq--sec {
    padding-right: 2.5rem;
}



@media (max-width: 1279px) {
    .home_hero--sec::after {
        left: -6rem;
        top: -6rem;
        background-size: contain;
    }

    html[dir=rtl] .home_hero--sec::after {
        left: -4rem;
    }

    html[dir=rtl] .faq_head-con {
        padding-right: 0;
        padding-left: 1.5rem;
    }

    .htp_slider-sec .mySwiper {
        display: none;
    }

    .spilit-card-polygon::after {
        left: 0.5rem;
    }

    html[dir=rtl] .spilit-card-polygon::after {
        left: auto;
        right: 0.5rem;
    }

    .split_card-num {
        background: linear-gradient(to left, rgb(109 176 255 / 40%) -100%, rgb(36 124 227 / 40%) 100%);
    }

    .split_card--wrap-purple .split_card-num {
        background: linear-gradient(to bottom, rgb(87 53 216 / 40%) 0%, rgb(84 51 191 / 40%) 100%);
    }

}

@media (max-width: 991px) {
    .home_hero--sec {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .home_hero_left-con,
    .home_hero_right-con,
    .faq_right--con,
    .about_left--con {
        max-width: 100%;
        flex: 1;
    }

    .about_left--con {
        padding: 3rem;
        order: 2;
    }

    .about_right--con {
        order: 1;
    }

    .faq_head-con {
        padding-right: 1rem;
    }

    html[dir=rtl] .faq_head-con {
        padding-right: 0;
        padding-left: 1.5rem;
    }

    .home_about--sec {
        flex-direction: column;
        gap: 3rem;
    }

    .home_hero--sec::after {
        background-image: url(/src/assets/images/home_mob_logo.webp);
        height: 15.88rem;
        width: 12rem;
        top: 0;
        right: 17rem;
        left: auto;
    }

    .home_faq--sec .faq_left--con {
        background-size: 190%;
    }

    .htp_slider-sec {
        flex-direction: column;
    }

    .htp_left-con,
    .htp_right-con {
        max-width: 100%;
    }

    .faq_right--con {
        padding-right: 0;
    }

    .home_faq--sec {
        padding-left: 0;
    }

    .sd_play-link {
        background-image: url(/src/assets/images/mob-home-about.webp);
        padding: 10rem 0;
        background-position: center;
        background-size: contain;
    }

    html[dir=rtl] .home_faq--sec .faq_left--con {
        background-position: top;
    }

    html[dir=rtl] .home_hero--sec::after {
        transform: rotateY(0deg);
        left: 15rem;
        top: 1rem;
        right: auto;
        background-image: url(/src/assets/images/home_mob_logo.webp);
    }

    .htp_slider-sec .htp_left-con,
    .htp_slider-sec .htp_right-con {
        max-width: 100%;
        flex: 1;
    }

    .home_timecard {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 767px) {
    .home_hero--sec {
        gap: 1.7rem;
    }

    .home_hero--sec::after {
        right: 9rem;
    }

    .about_left--con {
        padding: 1rem;
    }

    .sd_play-link {
        padding: 8.8rem 0;
    }

    html[dir="rtl"] .home_hero--sec,
    html[dir="rtl"] .home_about--sec,
    html[dir="rtl"] .htp_slider-sec,
    html[dir="rtl"] .home_faq--sec {
        padding-right: 0;
    }

    html[dir=rtl] .home_hero--sec::after {
        left: 9rem;
    }

    .htp_slider .swiper-slide .game_card_wrap--link .htp_card--body .match_date {
        height: 8rem;
        width: 6.5rem;
    }

    .htp_slider .sd_prev-btn,
    .htp_slider .sd_next-btn {
        background: unset;
        padding: 0.3rem;
    }
}

@media (max-width: 639px) {
    .sd_play-link {
        padding: 6rem 0;
    }

    .home_hero--sec::after {
        right: 6rem;
    }

    html[dir=rtl] .home_hero--sec::after {
        left: 6rem;
    }

    .htp_slider-sec .htp_card--body,
    .htp_slider-sec .game_card_wrap--link,
    .big-card.swiper {
        width: 34rem !important;
    }

    .htp_slider-sec {
        width: 34rem;
        margin: 0 auto;
    }

    .htp_slider .swiper-slide .game_card_wrap--link .htp_card--body .match_date {
        width: 5.5rem;
    }

    .htp_slider .swiper-slide.swiper-slide-active .game_card_wrap--link .htp_card--body p.game_info {
        padding-bottom: 0;
    }

    .how-to-play-mb-btn .btn_polygon-link:before,
    .how-to-play-mb-btn .btn_polygon-link:after {
        content: none;
    }

    .how-to-play-mb-btn .btn_polygon-link {
        width: 11.375rem;
        height: 3.25rem;
        clip-path: url(#customClipPathmob);
        background: linear-gradient(67.61deg, #434BE9 14.48%, #46B5F9 117.4%);
    }

    .split_card--body {
        height: 17rem;
    }

    .spilit-img {
        height: 18.5rem;
    }

    .split_card--wrap.polygon_border::before {
        top: calc(50% + 2.15rem);
        left: -1.7rem;
        width: 3.4rem;
    }

    html[dir=rtl] .split_card--wrap.polygon_border::before {
        left: auto;
        right: -1.7rem;
    }

    .split_card--wrap.polygon_border::after {
        top: calc(50% + 2.8rem);
    }
}

@media (max-width: 575px) {
    .home_hero--sec::after {
        right: 0;
    }

    html[dir=rtl] .home_hero--sec::after {
        left: 0;
    }

    .htp_slider-sec .htp_card--body,
    .htp_slider-sec .game_card_wrap--link,
    .big-card.swiper {
        width: 27.5rem !important;
        height: 9.5rem !important;
        min-height: 9.5rem !important;
    }

    .htp_slider-sec {
        width: 27.5rem;
    }

    .htp_slider .swiper-slide .game_card_wrap--link .htp_card--body .match_date {
        height: 5.6rem;
        width: 4.5rem;
        bottom: 0.8rem;
    }

    .htp_slider-sec .game_mask--con {
        padding-bottom: 0.85rem;
    }

    .split_card--con {
        width: 15rem;
    }

    .split_head-con span {
        font-size: 0.875rem;
    }

    .split_head-con svg {
        width: 0.875rem;
        height: auto;
    }

    .split_card--con p span.grad_text-clip{
        font-size:4rem;
    }

    .split_card--body {
        height: 11rem;
    }

    .spilit-img {
        height: 13rem;
        right: -1.7rem;
    }

    html[dir=rtl] .spilit-img {
        left: -1.7rem;
        right: auto;
    }
    .split_card--wrap.polygon_border::before {
        top: calc(50% + 1.4rem);
        left: -1.15rem;
        width: 2.4rem;
    }

    html[dir=rtl] .split_card--wrap.polygon_border::before {
        left: auto;
        right: -1.15rem;
    }

    .split_card--wrap.polygon_border::after {
        top: calc(50% + 1.8rem);
        width: 1.5rem;
        right: -0.7rem;
    }

    html[dir=rtl] .split_card--wrap.polygon_border::after {
        left:-0.7rem;
        right:auto;
    }

    .split_card-num{
        padding-top: 0.5rem;
        margin-bottom: 0.2rem;
        clip-path: url(#clip-path-01);
    }

    .split_card-num::after {       
        width: 80%;
        height: 90%;
    }
  
}

@media (max-width: 475px) {

    .htp_slider-sec .htp_card--body,
    .htp_slider-sec .game_card_wrap--link,
    .big-card.swiper {
        width: 22rem !important;
        height: 8rem !important;
        min-height: 8rem !important;
    }

    .htp_slider-sec {
        width: 22rem;
    }

    .htp_slider .swiper-slide .game_card_wrap--link .htp_card--body .match_date {
        height: 4.5rem;
        width: 3.5rem;
        bottom: 1.4rem;
    }

    .htp_slider .swiper-slide.swiper-slide-active .game_card_wrap--link .htp_card--body p.game_info {
        max-width: 14.5rem;
    }

    .htp_slider-sec .game_label {
        padding-bottom: 0.2rem;
    }

    .htp_slider .custom-pagination-one {
        max-width: calc(100% - 10rem);
        flex-wrap: wrap;
        margin-left: auto;
    }
}

@media (max-width: 420px) {
    .sd_play-link {
        padding: 5rem 0;
    }

    html[dir=rtl] .home_hero_left-con h2,
    html[dir=rtl] .home_hero_left-con h1 {
        font-size: 2rem;
    }
}

@media (max-width: 389px) {
    .home_hero_left-con h2 {
        font-size: 2.5rem;
    }

    .home_hero_left-con h1 {
        font-size: 2.3rem;
    }

    .sd_play-link {
        padding: 3rem 0;
    }

    .slider_card .game_card--footer {
        padding: 20px 20px;
    }

    .swiper-slide.swiper-slide-active {
        margin-right: 1rem;
    }

    .htp_slider-sec .htp_card--body,
    .htp_slider-sec .game_card_wrap--link,
    .big-card.swiper {
        width: 18rem !important;
        height: 6.5rem !important;
        min-height: 6.5rem !important;
    }

    .htp_slider-sec {
        width: 18rem;
    }

    .htp_slider-sec .game_mask--con {
        padding: 0;
        justify-content: start;
    }

    .htp_slider .swiper-slide .game_card_wrap--link .htp_card--body .match_date {
        height: 3.6rem;
        width: 2.8rem;
    }

    .htp_slider .swiper-slide.swiper-slide-active .game_card_wrap--link .htp_card--body p.game_info {
        max-width: 13rem;
    }

    .htp_slider-sec .htp_card--body {
        padding: 0.65rem 1.25rem;
    }

    .htp_slider .swiper-slide .game_card_wrap--link .htp_card--body .match_date {
        bottom: 1rem;
    }

    .how-to-play-mb-btn .btn_polygon-link {
        width: 10rem;
        height: 3rem;
    }

    .htp_slider .custom-pagination-one {
        bottom: -5rem !important;
    }
}