/* ---------------------------------------

    Lobby (Q Page) Main Content CSS Start 
    
--------------------------------------- */

.sd_main-content {
  overflow-y: auto;
  height: 100dvh;
}

/* ---------------------------------------

    Header CSS Start
    
--------------------------------------- */

.notification_btn:before {
  background: linear-gradient(180deg,
      rgba(53, 250, 250, 1) 0%,
      rgba(17, 143, 122, 1) 100%);
  width: 1.25rem;
  height: 1.25rem;
  top: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid #020326;
  border-radius: 0.938rem;
}

.user_img:before {
  border: 1px solid var(--sky-col);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 3.5rem;
  top: -0.25rem;
  left: -0.25rem;
}

.notification_btn {
  background: linear-gradient(180deg,
      rgba(65, 66, 152, 1) 0%,
      rgba(45, 47, 124, 1) 100%);
}

.main_con--bg {
  background-image: url("../images/main_con-bg.png");
  pointer-events: none;
  z-index: -1;
  width: calc(100% - 20rem);
}

.gradiant_bg:before {
  background: rgb(9 158 178 / 48%);
  width: 7.5rem;
  height: 11.25rem;
  z-index: -1;
  filter: blur(71px);
}

.player_two.gradiant_bg:before {
  background: rgb(145 72 9 / 48%);
}

/* ---------------------------------------
    
        Game & Platform CSS Start 

    --------------------------------------- */

.player_score {
  background-image: url(../images/score_bg.png);
  background-size: 14.5rem;
  width: 14.5rem;
  background-repeat: no-repeat;
}

html[dir=rtl] .player_score {
  background-image: url(../images/rtl-score-bg.png);
}

.game_polygon-link {
  background: linear-gradient(0deg,
      rgba(34, 35, 86, 20%) 0%,
      rgba(94, 95, 184, 20%) 100%);
  clip-path: url(#game_polygon_clip);
  width: 18.5rem;
  height: 6rem;
  box-shadow: inset 0 5px 6px 0px rgb(94 95 184 / 12%);
}

.sd_game-con.polygon_border:before,
.sd_game-con.polygon_border:after {
  width: 5.25rem;
  background: linear-gradient(0deg,
      rgba(34, 35, 86, 30%) 0%,
      rgba(94, 95, 184, 30%) 100%);
}

.game_polygon-link:before {
  background: url(../images/line_box.svg);
  right: 0;
  width: 10rem;
  height: 6rem;
  background-size: cover;
  opacity: 0.2;
}

/* ---------------------------------------

    Individual game card CSS Start 
    
--------------------------------------- */

.sd_game--info .game_polygon-link:before {
  right: auto;
  left: 0;
}

.valorant_game .game_polygon-link {
  background: linear-gradient(141deg,
      rgba(55, 16, 31, 1) 0%,
      rgba(157, 45, 58, 1) 100%);
}

.valorant_game.polygon_border:before,
.valorant_game.polygon_border:after {
  background: linear-gradient(141deg,
      rgba(55, 16, 31, 1) -70%,
      rgba(157, 45, 58, 1) 100%);
}

.valorant_game .game_polygon-link:before {
  background: url(../images/red_lines.svg);
}

.valorant_game .game_theam--bg {
  position: absolute;
  right: -0.625rem;
  z-index: -2;
}

.valorant_game .game_theam--bg:before {
  background: #691d2b;
  width: 5.625rem;
  height: 100%;
  filter: blur(1rem);
  z-index: 999;
  left: -3.75rem;
}

/* ---------------------------------------

    Star Of The Week Bedge Card CSS Start 
 
--------------------------------------- */

.sd_star_bedge--wrap {
  background: url(../images/bedge_bg.png);
  background-size: 100% 100%;
}

.sd_ticker-box {
  width: 2.5rem;
  height: 3rem;
  background: linear-gradient(90deg,
      rgba(45, 46, 109, 0.92) 0%,
      rgba(34, 35, 86, 0.8) 100%);
}

.sd_ticker-box span {
  background: -webkit-linear-gradient(256deg,
      rgba(244, 247, 255, 0.92) 40%,
      rgba(123, 126, 208, 0.8) 92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sd_score--con h2 {
  background: -webkit-linear-gradient(271deg,
      rgba(199, 233, 255, 1) 60%,
      rgba(115, 218, 255, 1) 92%);
}

.sd_ticker-box:after,
.sd_ticker-box:before {
  border-style: solid;
  border-width: 0 0 12px 12px;
  height: 0;
  width: 0;
  border-color: transparent;
  border-bottom-color: #3a3b83;
}

.sd_ticker-box:before {
  top: 0;
  left: 0;
  transform: scale(-1);
}

.sd_ticker-box:after {
  bottom: 0;
  right: 0;
}

/* ---------------------------------------

    LeaderBoard Table CSS Start 

--------------------------------------- */

.blue {
  background: linear-gradient(180deg,
      rgba(94, 95, 184, 0.2) 0%,
      rgba(34, 35, 86, 0.2) 100%);
}

.gold {
  background: linear-gradient(90deg,
      rgba(243, 182, 69, 0.5) 0%,
      rgba(243, 182, 69, 0.2) 20%,
      rgba(94, 95, 184, 0.2) 80%,
      rgba(34, 35, 86, 0.6) 100%);
}

.silver {
  background: linear-gradient(90deg,
      rgba(121, 69, 243, 0.62) 0%,
      rgba(121, 69, 243, 0.2) 20%,
      rgba(94, 95, 184, 0.2) 72%,
      rgba(34, 35, 86, 0.8) 100%);
}

.bronze {
  background: linear-gradient(90deg,
      rgba(243, 104, 69, 0.52) 0%,
      rgba(243, 104, 69, 0.2) 20%,
      rgba(94, 95, 184, 0.2) 72%,
      rgba(34, 35, 86, 0.8) 100%);
}

.leaderboard-table tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.leaderboard-table tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

html[dir=rtl] .leaderboard-table tr td:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

html[dir=rtl] .leaderboard-table tr td:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.leaderboard-table {
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.leaderboard-table td {
  box-shadow: inset 0px 1px 0px rgb(87 89 195 / 20%);
  position: relative;
}

.bedge_bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.two_digit>div {
  font-size: 1rem;
}

/* ---------------------------------------

    Timeline Card CSS Start 
    
------------------------------------------ */

.lobby_btn:before {
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 4px;
  filter: blur(46px);
}

.lobby_btn.que_btn:before {
  background: rgb(244 101 40 / 20%);
}

.lobby_btn.join_btn:before {
  background: rgba(22, 150, 64, 0.32);
}

.timeline-card {
  background: #08092c;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.timeline-card__header {
  background: linear-gradient(180deg,
      rgba(94, 95, 184, 0.3) 0%,
      rgba(34, 35, 86, 0.4) 100%);
  box-shadow: inset 0 2px 2px rgba(94, 95, 184, 0.2);
}

.timeline-step {
  position: relative;
  background-image: url("../images/timeline_bg.png");
  background-size: 100% 100%;
}

html[dir=rtl] .timeline-step {
  background-image: url("../images/rtl-timeline-bg.png");
}

/* .timeline-card__steps.completed::before {
  background-image: url("../images/completed.png");
}

.timeline-card__steps::before {
  background-image: url("../images/disable.png");
  right: 1rem;
  top: 2.175rem;
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-color: #0d1038;
  z-index: 99;
} */

/* .timeline_wrap.disabled .timeline-step {
  opacity: 0.4;
}

.timeline-card__steps .timeline_wrap:last-child:after {
  display: none;
}

.timeline-card__steps::after {
  background: #1e2144;
  right: -2.2rem;
  width: 0.25rem;
  height: 3.5rem;
  top: 3rem;
  background-position: right;
}

.timeline-card__steps.completed:after {
  background: linear-gradient(180deg,
      rgba(68, 112, 238, 0.92) 0%,
      rgba(70, 147, 245, 0.8) 100%);
  right: -2.1rem;
  width: 0.25rem;
  height: 100%;
  top: 3.125rem;
} */


.timeline_wrap.completed::before {
  background-image: url('../images/completed.png');
}

.timeline_wrap::before {
  background-image: url('../images/disable.png');
  right: -3rem;
  top: 1.175rem;
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-color: #0d1038;
}

html[dir=rtl] .timeline_wrap::before{
  left: -3rem;
  right: auto;
}

html[dir=rtl] .timeline-card__steps::before {
  left: 2.3rem;
  right: auto;
}

.timeline_wrap.disabled .timeline-step {
  opacity: 0.4;
}

.timeline-card__steps:before {
  background: #1e2144;
  right: 2.3rem;
  width: 0.25rem;
  height: calc(100% - 7.1rem);
    top: 2.125rem;
}

.timeline_wrap.completed:after {
  background: linear-gradient(180deg, rgba(68, 112, 238, 0.92) 0%, rgba(70, 147, 245, 0.8) 100%);
  right: -2.1rem;
  width: 0.25rem;
  height: 100%;
  top: 3.125rem;
}

.timeline_wrap.completed:last-child:after {
  display: none;
}


html[dir=rtl] .timeline_wrap.completed:after{
  right: auto;
  left: -2.1rem;
}

.timeline_container {
  height: 17.5rem;
  overflow-y: auto;
}

/* ---------------------------------------

    Rules & Regulation Button Design CSS Start 

    ------------------------------------------ */

.sd_rules--btn button:before {
  background: #020326;
  width: 2rem;
  height: 2rem;
  right: 1.25rem;
  border-radius: 2rem;
}

.sd_rules--btn button:after {
  background: #2e3170;
  width: 1rem;
  height: 1rem;
  right: 1.75rem;
  border-radius: 1rem;
}

html[dir="rtl"] .sd_rules--btn button:before {
  right: auto;
  left: 1.25rem;
}

html[dir="rtl"] .sd_rules--btn button:after {
  right: auto;
  left: 1.75rem;
}

/* ---------------------------------------

    Modal PopUP Design CSS Start
    
--------------------------------------- */

.match_reg--popup {
  background: linear-gradient(180deg,
      rgba(31, 34, 90, 1) 0%,
      rgba(16, 19, 63, 1) 100%);
  clip-path: url(#myClipPath);
  width: 30rem;
  padding-bottom: 2rem;
  /* height: 32rem; */
}

.match_reg--popup:before {
  background-image: url("../images/pop_up_bg.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  pointer-events: none;
  top: 0;
}

.match_reg2--popup {
  background: linear-gradient(180deg,
      rgba(31, 34, 90, 1) 0%,
      rgba(16, 19, 63, 1) 100%);
  clip-path: url(#myClipPath);
}

.match_reg2--popup:before {
  background-image: url("../images/pop_up_bg.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  pointer-events: none;
  top: 0;
}

.popup-overlay {
  background: linear-gradient(180deg,
      rgba(2, 3, 41, 60%) 0%,
      rgba(1, 2, 29, 60%) 100%);
  backdrop-filter: blur(1px);
  border-radius: 30px 0 0 0;
}

.modal_popup-con,
.popup-overlay {
  width: calc(100% - 20rem);
  right: 0;
  left: auto;
}

html[dir="rtl"] .popup-overlay {
  width: calc(100% - 22.5rem);
  right: auto;
  left: 0;
}

.sd_custom-input {
  background: #09092d;
  clip-path: url(#inputclip);
  width: 25rem;
  height: 4.5rem;
}

input[type="checkbox"]:checked+label .checkbox-inner,
input[type="radio"]:checked+label .checkbox-inner {
  background: linear-gradient(180deg,
      rgba(70, 181, 249, 0.92) 0%,
      rgba(67, 75, 233, 1) 100%);
}

input[type="checkbox"]:checked+label .checkbox-inner:before,
input[type="radio"]:checked+label .checkbox-inner:before {
  content: "";
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='10px' viewBox='0 0 14 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 59.1 (86144) - https://sketch.com --%3E%3Ctitle%3Echeck%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='ios_modification' transform='translate(-27.000000, -191.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Group-Copy' transform='translate(0.000000, 164.000000)'%3E%3Cg id='ic-check-18px' transform='translate(25.000000, 23.000000)'%3E%3Cpolygon id='check' points='6.61 11.89 3.5 8.78 2.44 9.84 6.61 14 15.56 5.05 14.5 4'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #fff;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 23px;
}

.popup_submit-btn {
  background: linear-gradient(180deg, #6090ff 0%, #5988f6 100%);
  clip-path: url(#popup_btn);
  width: 25rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: anchor-center;
  color: #fff;
}

/* ----------------------------------

    Wizard Form PopUp CSS Start 

------------------------------------*/

.game_status--tab.back_btn button.active-tab {
  background: url(../images/back_btnBG.png);
}

.game_status--tab.submit_btn button.active-tab {
  background: url(../images/submitBG.png);
}

.game_status--tab.wizard_btn button.active-tab {
  background-size: 100% 100%;
}

.wizard_step--btn .active-tab.polygon_border:before,
.wizard_step--btn .active-tab.polygon_border:after {
  width: 3.65rem;
}

.wizard_step--btn .next_btn .active-tab.polygon_border:before,
.wizard_step--btn .next_btn .active-tab.polygon_border:after {
  width: 3.65rem;
}

.wizard_step--btn .back_btn .active-tab.polygon_border:before,
.wizard_step--btn .back_btn .active-tab.polygon_border:after {
  background: #2e2e60;
}

.wizard_step--btn .submit_btn .active-tab.polygon_border:before,
.wizard_step--btn .submit_btn .active-tab.polygon_border:after {
  background: #c87029;
}

/* ----------------------------------------

    Selct Input in Wizard form CSS Start

--------------------------------------------*/
.sd_select--menu .select__control {
  background: #09092d;
  clip-path: url(#inputclip);
  width: 100%;
  height: 4.5rem;
  border: 0;
  text-align: justify;
  border: 0;
  box-shadow: none;
}

.sd_select--menu .css-1dimb5e-singleValue {
  color: var(--purple-col);
  font-size: 1.15rem;
}

.sd_select--menu .select__value-container {
  padding-inline: 1rem;
}

.select__indicator-separator {
  display: none;
}

.select__indicator.select__dropdown-indicator svg path {
  fill: var(--purple-col);
}

.select__menu {
  background: #09092d !important;
}

.select__menu * {
  color: var(--aside-link-col) !important;
  font-size: 1.15rem;
}

.select__option:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}

.select__menu .select__option--is-focused {
  background: transparent;
}

.select__menu .select__option--is-selected {
  background: transparent;
  color: #fff !important;
}

.select__menu .select__option--is-focused:active {
  background: transparent;
}

.select__menu .select__menu-list {
  padding: 0rem;
}

.select__menu-list {
  margin-right: 1rem;
  margin-block: 1rem;
  max-height: 8rem !important;
}

.select__menu-list::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #505070;
}

.select__menu-list::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: #2a2f64;
}

.select__menu .select__menu-list .select__option {
  font-size: 1rem;
  padding-block: 0.4rem;
}

.custom-date-icon::-webkit-calendar-picker-indicator {
  filter: invert(41%) sepia(10%) saturate(2890%) hue-rotate(206deg) brightness(95%) contrast(85%);
}

.notification-sidebar {
  background: linear-gradient(to bottom,
      rgba(14, 16, 60, 1) 0%,
      rgba(7, 9, 43, 1) 100%);
  box-shadow: inset 2px 2px 2px rgb(21, 23, 60, 0.6);
  overflow-y: auto;
  z-index: 10;
}

.notification-sidebar::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("../images/notification-shape.png");
  z-index: -1;
  background-repeat: no-repeat;
}

.notification-sidebar h6 {
  font-weight: 700;
}

.notification-sidebar .notification-box-content>h6 {
  font-weight: 600;
}

.notification-box {
  clip-path: url(#blob-clip);
  background: radial-gradient(circle,
      rgba(45, 46, 109, 0.48) 0%,
      rgba(34, 35, 86, 0.48) 100%);
  width: 100%;
  height: 20.76rem;
}

html[dir=rtl] .notification-box {
    transform: rotateY(180deg);
}

html[dir=rtl] .notification-box-rotate {
    transform: rotateY(180deg);
}

.notification-sidebar .game_status--tab {
  position: relative;
  right: 0;
  top: 0;
}

.notification-sidebar .game_status--tab button {
  width: 11.3rem !important;
  height: 3.51rem !important;
  background-size: 100% 100% !important;
}

.notification-sidebar .active-tab.polygon_border:before,
.notification-sidebar .active-tab.polygon_border:after {
  width: 5rem;
  height: 0.16rem;
}

.notification-box-wp.polygon_border:before,
.notification-box-wp.polygon_border:after {
  width: 6.76rem;
  height: 0.5rem;
  background: radial-gradient(circle,
      rgba(45, 46, 109, 0.48) 0%,
      rgba(34, 35, 86, 0.48) 100%);
}

.notification-box-wp.polygon_border:after {
  width: 4.76rem;
  right: -2.1rem;
  left: auto;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}

html[dir=rtl] .notification-box-wp.polygon_border:after{
  right: auto;
  left: -2.1rem;
  transform:translateY(-50%) rotate(90deg);
}

.notification-box-btn button {
  background: url(../images/deny-btn.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.notification-box-btn button.active-tab {
  background: url(../images/accept-btn.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.go-btn::after {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 0.3rem;
  background: url("../images/go-btn.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 3.76rem;
  height: 3.76rem;
  z-index: 0;
}

.notification-sidebar button {
  cursor: pointer;
}

.user_img {
  width: 3rem;
}

.wizard_step--btn .login-btn .active-tab.polygon_border:before, .wizard_step--btn .login-btn .active-tab.polygon_border:after{
width: 4.65rem;
}

/* xl */
@media (min-width: 1280px) {}

/* lg */
@media (min-width: 1024px) {}

@media (min-width: 768px) and (max-width: 991px){
.sd_bedge_left-con{
  padding-left: 0.9rem;
  gap: 0.7rem;
}

.sd_bedge_right-con{
  padding-right: 0.9rem;
}

.sd_bedge-lable  img{
  width: 3.5rem !important;
}

.sd_bedge_left-con .sd_avtar-info{
gap: 0.7rem;
}
}

@media (max-width:991px) {
    .game_polygon-link {
    width: 14rem;
  }

  .game_polygon-link img {
    display: none;
  }

  .sd_game-con.polygon_border:before,
  .sd_game-con.polygon_border:after {
    width: 3.8rem;
  }
  .sd_content-left{
    width: 100%;
    order: 2;
  }  
  .sd_content-right{
    order: 1;
  }
  .sd_top-wraper{
    flex-direction: column;
  }
    .submit__score--popup{
    width: 100%;
  }
  .submit__score--popup + .modal_popup-con{
  width: 100%;
  right: auto;
  left: auto;
}
.match_reg--popup{
  max-width: 30rem;
  width: 100%;
}
}

/* md */
@media (max-width: 767px) {
  .sd_content-left{
    width: 100%;
  }
  .player_score {
    background-image: url(/src/assets/images/mob_score_bg.png);
    background-size: 21rem;
    width: 21.38rem;
  }

  html[dir=rtl] .player_score{
  background-image: url(/src/assets/images/mob_score_bg.png);
}

  .game_polygon-link {
    width: 9rem;
    padding: 0 0.8rem;
  }

  .game_polygon-link:before {
    width: 9rem;
  }

  .sd_game-con.polygon_border:before,
  .sd_game-con.polygon_border:after {
    width: 2.5rem;
  }

  .leaderboard-table thead {
    display: none;
  }

  .leaderboard-table tr {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }

  .leaderboard-table tr:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  .leaderboard-table tr td {
    max-width: calc(100% / 3);
    flex: 0 0 calc(100% / 3);
    box-shadow: 0px 1px 0px rgb(87 89 195 / 20%);
  }

  .leaderboard-table tr td::before {
    position: absolute;
    bottom: 0.8rem;
    content: attr(data-title);
    color: var(--purple-col);
    width: 100%;
    left: 0;
    padding: 0 0.8rem;
  }

  .leaderboard-table td[data-title="Rep"]::before {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .leaderboard-table tr td:attr(data-title="Rep")::before {
    left: 50%;
  }

  .leaderboard-table tr td:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .leaderboard-table tr td:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .sd_rules--btn button:before,.timeline-card__header::before{
        background:linear-gradient(180deg, #5E5FB8 0%,#222356 100%);
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.8rem;
  }

  .timeline-card__header{
    position: relative;
  }

  .sd_rules--btn button:after,.timeline-card__header::after{
      background: url(/src/assets/images/mobile_drop_icon.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0;
      width: 0.75rem;
      height: 0.375rem;
      transform: rotate(90deg);
      background-size: cover;
  }
  .timeline-card__header::after,.timeline-card__header::before{    
    content: "";
    position: absolute;
  }

  .timeline-card__header::before{
    width: 2rem;
    height: 2rem;
    right: 1.25rem;
  }

   html[dir=rtl] .timeline-card__header::before{
    left: 1.25rem;
    right: auto;
  }

  .timeline-card__header::after{
    right: 1.9rem;
    transform: rotate(0deg);
  }

   html[dir=rtl] .timeline-card__header::after{
    left: 1.9rem;
    right: auto;
  }

   .gold {
    background: linear-gradient(145deg, rgba(243, 182, 69, 0.5) 0%, rgba(243, 182, 69, 0.2) 20%, rgba(94, 95, 184, 0.2) 80%, rgba(34, 35, 86, 0.6) 100%),linear-gradient(to bottom,#050523 0%, #060725 100%);
  }

  .silver {
    background: linear-gradient(145deg, rgba(121, 69, 243, 0.62) 0%, rgba(121, 69, 243, 0.2) 20%, rgba(94, 95, 184, 0.2) 72%, rgba(34, 35, 86, 0.8) 100%),linear-gradient(to bottom,#050523 0%, #060725 100%);    
}

.bronze {
    background: linear-gradient(145deg, rgba(243, 104, 69, 0.52) 0%, rgba(243, 104, 69, 0.2) 20%, rgba(94, 95, 184, 0.2) 72%, rgba(34, 35, 86, 0.8) 100%),linear-gradient(to bottom,#050523 0%, #060725 100%);    
}
.sd_main-content{
  border-radius: 0;
}
}

@media (max-width: 639px) {
  .game_polygon-link {
    width: 6.63rem;
  }

  .game_polygon-link:before {
    width: 6.63rem;
  }

  .sd_game-con.polygon_border:before,
  .sd_game-con.polygon_border:after {
    width: 1.75rem;
    height: 0.325rem;
  }
}

@media (max-width: 525px){
.match_reg--popup{
  max-width:calc(100% - 2rem);
}
}

@media (max-width: 475px) {
    .notification-sidebar{
    width: 100%;
    }
    .notification-sidebar .game_status--tab button {
    width: 10rem !important;
    }
    .sd_custom-input,.popup_submit-btn {    
    width: 20rem;
    height: 4rem;
}
}

@media (max-width: 389px) {
  .player_score {
    background-size: 19rem;
    width: 19rem;
  }

  .game_polygon-link {
    width: 5.5rem;
  }

  .game_polygon-link:before {
    width: 5.5rem;
  }

  .sd_game-con.polygon_border:before,
  .sd_game-con.polygon_border:after {
    width: 1.2rem;
  }
}
